In [3]:
import pandas as pd

In [ ]:
# before running the code check lines 18, 26, 49, 37, 47 to make sure not overwrite the data
# df = pd.read_csv("raw data/wonka_choc_factory.csv")

In [5]:
df.head()

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371

In [6]:
df.head(76)

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,71,2023-09-01,2029-02-23,First Class,129714,United States,New York City,New York,10009,Chocolate,Atlantic,Wonka Bar - Triple Dazzle Caramel,3.75,1,2.45,1.30,Wicked Choccy's,32.076176,-81.088371
72,72,2024-05-07,2029-11-02,Standard Class,159688,United States,Los Angeles,California,90004,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,3.60,1,2.50,1.10,Lot's O' Nuts,32.881893,-111.768036
73,73,2024-09-16,2030-03-14,Standard Class,134173,United States,Philadelphia,Pennsylvania,19143,Chocolate,Atlantic,Wonka Bar - Nutty Crunch Surprise,13.96,4,9.96,4.00,Lot's O' Nuts,32.881893,-111.768036
74,74,2024-11-05,2030-04-30,First Class,118213,United States,Greenwood,Indiana,46142,Other,Interior,Wonka Gum,3.75,3,1.95,1.80,Secret Factory,41.446333,-90.565487
75,75,2024-11-05,2030-04-30,First Class,118213,United States,Greenwood,Indiana,46142,Chocolate,Interior,Wonka Bar - Triple Dazzle Caramel,3.75,1,2.45,1.30,Wicked Choccy's,32.076176,-81.088371

In [7]:
df.nunique()

Unnamed: 0        10194
Order Date         1242
Ship Date          1338
Ship Mode             4
Customer ID        5044
Country/Region        2
City                542
State/Province       59
Postal Code         654
Division              3
Region                4
Product Name         15
Sales                88
Units                14
Gross Profit        121
Cost                 95
Factory               5
Latitude              5
Longitude             5
dtype: int64

In [8]:
df.isnull().sum()

Unnamed: 0        0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Country/Region    0
City              0
State/Province    0
Postal Code       0
Division          0
Region            0
Product Name      0
Sales             0
Units             0
Gross Profit      0
Cost              0
Factory           0
Latitude          0
Longitude         0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10194 non-null  int64
 1   Order Date      10194 non-null  object
 2   Ship Date       10194 non-null  object
 3   Ship Mode       10194 non-null  object
 4   Customer ID     10194 non-null  int64
 5   Country/Region  10194 non-null  object
 6   City            10194 non-null  object
 7   State/Province  10194 non-null  object
 8   Postal Code     10194 non-null  object
 9   Division        10194 non-null  object
 10  Region          10194 non-null  object
 11  Product Name    10194 non-null  object
 12  Sales           10194 non-null  float64
 13  Units           10194 non-null  int64
 14  Gross Profit    10194 non-null  float64
 15  Cost            10194 non-null  float64
 16  Factory         10194 non-null  object
 17  Latitude        10194 non-null  float64
 18  Longitude       10194 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 1.5+ MB

In [10]:
df.duplicated().sum()

np.int64(0)

# Factories

In [11]:
df.groupby('Factory')[['Division', 'Latitude', 'Longitude']].nunique()

                   Division  Latitude  Longitude
Factory
Lot's O' Nuts             1         1          1
Secret Factory            2         1          1
Sugar Shack               1         1          1
The Other Factory         2         1          1
Wicked Choccy's           1         1          1

In [12]:
# there are factorries with 2 divisions, so there will be separate table for the Divisions

In [13]:
df[df['Factory'] == 'Secret Factory'].shape[0]

217

In [14]:
df[df['Factory'] == 'The Other Factory'].shape[0]

100

In [15]:
factories_df = df[['Factory', 'Division', 'Latitude', 'Longitude']]
factories_df

               Factory   Division   Latitude   Longitude
0      Wicked Choccy's  Chocolate  32.076176  -81.088371
1        Lot's O' Nuts  Chocolate  32.881893 -111.768036
2        Lot's O' Nuts  Chocolate  32.881893 -111.768036
3      Wicked Choccy's  Chocolate  32.076176  -81.088371
4      Wicked Choccy's  Chocolate  32.076176  -81.088371
...                ...        ...        ...         ...
10189    Lot's O' Nuts  Chocolate  32.881893 -111.768036
10190    Lot's O' Nuts  Chocolate  32.881893 -111.768036
10191  Wicked Choccy's  Chocolate  32.076176  -81.088371
10192  Wicked Choccy's  Chocolate  32.076176  -81.088371
10193    Lot's O' Nuts  Chocolate  32.881893 -111.768036

[10194 rows x 4 columns]

In [16]:
grouped_factories_df = factories_df.groupby(['Factory', 'Division'], as_index=False).first()
grouped_factories_df

# assigned selection to the dataframe

             Factory   Division   Latitude   Longitude
0      Lot's O' Nuts  Chocolate  32.881893 -111.768036
1     Secret Factory      Other  41.446333  -90.565487
2     Secret Factory      Sugar  41.446333  -90.565487
3        Sugar Shack      Sugar  48.119140  -96.181150
4  The Other Factory      Other  35.117500  -89.971107
5  The Other Factory      Sugar  35.117500  -89.971107
6    Wicked Choccy's  Chocolate  32.076176  -81.088371

In [17]:
# here we grouped by the factories and divisions

In [18]:
grouped_factories_df.to_csv("py_tables/grouped_factories.csv", index=False)

#saving the factories tables

# Products

In [19]:
df.groupby('Product Name')[['Cost']].nunique()

                                   Cost
Product Name
Everlasting Gobstopper                3
Fizzy Lifting Drinks                  4
Fun Dip                               3
Hair Toffee                           2
Kazookles                             9
Laffy Taffy                           6
Lickable Wallpaper                   12
Nerds                                 4
SweeTARTS                             6
Wonka Bar - Fudge Mallows            14
Wonka Bar - Milk Chocolate           14
Wonka Bar - Nutty Crunch Surprise    14
Wonka Bar - Triple Dazzle Caramel    14
Wonka Bar -Scrumdiddlyumptious       14
Wonka Gum                            12

In [20]:
# the products have many costs because the costs are shown for all the ordered units, 
# therefore the column Cost should be included only in the Sales(bridge table)

In [21]:
df[df['Product Name'] == 'Hair Toffee']

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
8027,8027,2023-06-06,2028-12-02,Standard Class,155971,United States,Los Angeles,California,90036,Sugar,Pacific,Hair Toffee,22.5,5,17.5,5.0,The Other Factory,35.1175,-89.971107
8978,8978,2024-10-12,2030-04-04,Same Day,149146,United States,Monroe,North Carolina,28110,Sugar,Gulf,Hair Toffee,9.0,2,7.0,2.0,The Other Factory,35.1175,-89.971107
9165,9165,2024-06-17,2029-12-12,Standard Class,165323,United States,New York City,New York,10024,Sugar,Atlantic,Hair Toffee,22.5,5,17.5,5.0,The Other Factory,35.1175,-89.971107
9912,9912,2023-03-13,2028-09-05,First Class,158834,United States,Scottsdale,Arizona,85254,Sugar,Pacific,Hair Toffee,22.5,5,17.5,5.0,The Other Factory,35.1175,-89.971107

In [22]:
df.groupby('Product Name')[['Factory']].nunique()
# each product has own factory

                                   Factory
Product Name
Everlasting Gobstopper                   1
Fizzy Lifting Drinks                     1
Fun Dip                                  1
Hair Toffee                              1
Kazookles                                1
Laffy Taffy                              1
Lickable Wallpaper                       1
Nerds                                    1
SweeTARTS                                1
Wonka Bar - Fudge Mallows                1
Wonka Bar - Milk Chocolate               1
Wonka Bar - Nutty Crunch Surprise        1
Wonka Bar - Triple Dazzle Caramel        1
Wonka Bar -Scrumdiddlyumptious           1
Wonka Gum                                1

In [23]:
df.groupby('Factory')[['Product Name']].nunique()
# each factory produces different products

                   Product Name
Factory
Lot's O' Nuts                 3
Secret Factory                3
Sugar Shack                   5
The Other Factory             2
Wicked Choccy's               2

In [24]:
products_df = df[['Product Name', 'Factory', 'Division']]
products_df

                            Product Name          Factory   Division
0      Wonka Bar - Triple Dazzle Caramel  Wicked Choccy's  Chocolate
1         Wonka Bar -Scrumdiddlyumptious    Lot's O' Nuts  Chocolate
2              Wonka Bar - Fudge Mallows    Lot's O' Nuts  Chocolate
3             Wonka Bar - Milk Chocolate  Wicked Choccy's  Chocolate
4             Wonka Bar - Milk Chocolate  Wicked Choccy's  Chocolate
...                                  ...              ...        ...
10189     Wonka Bar -Scrumdiddlyumptious    Lot's O' Nuts  Chocolate
10190  Wonka Bar - Nutty Crunch Surprise    Lot's O' Nuts  Chocolate
10191  Wonka Bar - Triple Dazzle Caramel  Wicked Choccy's  Chocolate
10192  Wonka Bar - Triple Dazzle Caramel  Wicked Choccy's  Chocolate
10193          Wonka Bar - Fudge Mallows    Lot's O' Nuts  Chocolate

[10194 rows x 3 columns]

In [25]:
grouped_products_df = products_df.groupby(['Product Name', 'Factory', 'Division'], as_index=False).size()
grouped_products_df

                         Product Name            Factory   Division  size
0              Everlasting Gobstopper     Secret Factory      Sugar     3
1                Fizzy Lifting Drinks        Sugar Shack      Sugar     6
2                             Fun Dip        Sugar Shack      Sugar     3
3                         Hair Toffee  The Other Factory      Sugar     4
4                           Kazookles  The Other Factory      Other    96
5                         Laffy Taffy        Sugar Shack      Sugar    10
6                  Lickable Wallpaper     Secret Factory      Other    94
7                               Nerds        Sugar Shack      Sugar     4
8                           SweeTARTS        Sugar Shack      Sugar    10
9           Wonka Bar - Fudge Mallows      Lot's O' Nuts  Chocolate  1818
10         Wonka Bar - Milk Chocolate    Wicked Choccy's  Chocolate  2137
11  Wonka Bar - Nutty Crunch Surprise      Lot's O' Nuts  Chocolate  1810
12  Wonka Bar - Triple Dazzle Caramel    Wicked Choccy's  Chocolate  2015
13     Wonka Bar -Scrumdiddlyumptious      Lot's O' Nuts  Chocolate  2064
14                          Wonka Gum     Secret Factory      Other   120

In [26]:
grouped_products_df.to_csv("py_tables/grouped_products.csv", index=False)

#saving the productss tables

# Sales

In [38]:
df.head(10)

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371
5,5,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,Interior,Wonka Bar -Scrumdiddlyumptious,3.60,1,2.50,1.10,Lot's O' Nuts,32.881893,-111.768036
6,6,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,Interior,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,Lot's O' Nuts,32.881893,-111.768036
7,7,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,Interior,Wonka Bar - Fudge Mallows,25.20,7,16.80,8.40,Lot's O' Nuts,32.881893,-111.768036
8,8,2023-03-03,2028-08-28,Standard Class,103982,United States,Round Rock,Texas,78664,Chocolate,Interior,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
9,9,2024-06-29,2029-12-25,Standard Class,147039,United States,Minneapolis,Minnesota,55407,Chocolate,Interior,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,Lot's O' Nuts,32.881893,-111.768036

In [48]:
sales_df = df[['Product Name', 'Customer ID', 'Sales', 'Units', 'Gross Profit', 'Cost', 'Order Date', 'Ship Date', 'Ship Mode']]
sales_df

,Product Name,Customer ID,Sales,Units,Gross Profit,Cost,Order Date,Ship Date,Ship Mode
0,Wonka Bar - Triple Dazzle Caramel,128055,7.50,2,4.90,2.60,2021-03-31,2026-09-26,Standard Class
1,Wonka Bar -Scrumdiddlyumptious,128055,7.20,2,5.00,2.20,2021-03-31,2026-09-26,Standard Class
2,Wonka Bar - Fudge Mallows,138100,7.20,2,4.80,2.40,2021-09-15,2027-03-13,Standard Class
3,Wonka Bar - Milk Chocolate,138100,9.75,3,6.33,3.42,2021-09-15,2027-03-13,Standard Class
4,Wonka Bar - Milk Chocolate,121391,6.50,2,4.22,2.28,2022-10-04,2028-03-29,First Class
...,...,...,...,...,...,...,...,...,...
10189,Wonka Bar -Scrumdiddlyumptious,167682,14.40,4,10.00,4.40,2023-04-03,2028-09-29,Standard Class
10190,Wonka Bar - Nutty Crunch Surprise,147991,17.45,5,12.45,5.00,2023-05-05,2028-10-29,Standard Class
10191,Wonka Bar - Triple Dazzle Caramel,152471,7.50,2,4.90,2.60,2023-07-08,2028-12-28,Same Day
10192,Wonka Bar - Triple Dazzle Caramel,152471,18.75,5,12.25,6.50,2023-07-08,2028-12-28,Same Day
10193,Wonka Bar - Fudge Mallows,141481,10.80,3,7.20,3.60,2024-06-11,2029-12-05,First Class

In [49]:
sales_df.to_csv("py_tables/sales.csv", index=False)

#saving the sales table

# Customers

In [30]:
customers_df = df[['Customer ID', 'Country/Region', 'City', 'State/Province', 'Postal Code', 'Region']]
customers_df

,Customer ID,Country/Region,City,State/Province,Postal Code,Region
0,128055,United States,San Francisco,California,94122,Pacific
1,128055,United States,San Francisco,California,94122,Pacific
2,138100,United States,New York City,New York,10011,Atlantic
3,138100,United States,New York City,New York,10011,Atlantic
4,121391,United States,San Francisco,California,94109,Pacific
...,...,...,...,...,...,...
10189,167682,United States,Richmond,Indiana,47374,Interior
10190,147991,United States,Chattanooga,Tennessee,37421,Gulf
10191,152471,United States,Jacksonville,Florida,32216,Gulf
10192,152471,United States,Jacksonville,Florida,32216,Gulf
10193,141481,United States,Los Angeles,California,90036,Pacific

In [34]:
customers_df.duplicated().sum()

np.int64(5121)

In [35]:
customers_df[customers_df.duplicated(subset='Customer ID', keep=False)]

,Customer ID,Country/Region,City,State/Province,Postal Code,Region
0,128055,United States,San Francisco,California,94122,Pacific
1,128055,United States,San Francisco,California,94122,Pacific
2,138100,United States,New York City,New York,10011,Atlantic
3,138100,United States,New York City,New York,10011,Atlantic
5,103982,United States,Round Rock,Texas,78664,Interior
...,...,...,...,...,...,...
10187,143336,United States,San Francisco,California,94109,Pacific
10188,167682,United States,Richmond,Indiana,47374,Interior
10189,167682,United States,Richmond,Indiana,47374,Interior
10191,152471,United States,Jacksonville,Florida,32216,Gulf
10192,152471,United States,Jacksonville,Florida,32216,Gulf

In [31]:
grouped_customers_df = customers_df.groupby(['Customer ID'], as_index=False).size()
grouped_customers_df

      Customer ID  size
0          100006     1
1          100013     3
2          100041     3
3          100048     3
4          100055     2
...           ...   ...
5039       169999     2
5040       174514     1
5041       184712     2
5042       187423     1
5043       192314     2

[5044 rows x 2 columns]

In [36]:
customers_df_unique = customers_df.drop_duplicates(subset='Customer ID')
customers_df_unique

,Customer ID,Country/Region,City,State/Province,Postal Code,Region
0,128055,United States,San Francisco,California,94122,Pacific
2,138100,United States,New York City,New York,10011,Atlantic
4,121391,United States,San Francisco,California,94109,Pacific
5,103982,United States,Round Rock,Texas,78664,Interior
9,147039,United States,Minneapolis,Minnesota,55407,Interior
...,...,...,...,...,...,...
10185,143336,United States,San Francisco,California,94109,Pacific
10188,167682,United States,Richmond,Indiana,47374,Interior
10190,147991,United States,Chattanooga,Tennessee,37421,Gulf
10191,152471,United States,Jacksonville,Florida,32216,Gulf
10193,141481,United States,Los Angeles,California,90036,Pacific

In [37]:
customers_df_unique.to_csv("py_tables/customers_unique.csv", index=False)

#saving the customers table

# Orders

In [43]:
orders_df = df[['Customer ID', 'Order Date', 'Ship Date', 'Ship Mode']]
orders_df

       Customer ID  Order Date   Ship Date       Ship Mode
0           128055  2021-03-31  2026-09-26  Standard Class
1           128055  2021-03-31  2026-09-26  Standard Class
2           138100  2021-09-15  2027-03-13  Standard Class
3           138100  2021-09-15  2027-03-13  Standard Class
4           121391  2022-10-04  2028-03-29     First Class
...            ...         ...         ...             ...
10189       167682  2023-04-03  2028-09-29  Standard Class
10190       147991  2023-05-05  2028-10-29  Standard Class
10191       152471  2023-07-08  2028-12-28        Same Day
10192       152471  2023-07-08  2028-12-28        Same Day
10193       141481  2024-06-11  2029-12-05     First Class

[10194 rows x 4 columns]

In [44]:
orders_df.duplicated().sum()

np.int64(5108)

In [46]:
orders_df_unique = orders_df.drop_duplicates()
orders_df_unique

       Customer ID  Order Date   Ship Date       Ship Mode
0           128055  2021-03-31  2026-09-26  Standard Class
2           138100  2021-09-15  2027-03-13  Standard Class
4           121391  2022-10-04  2028-03-29     First Class
5           103982  2023-03-03  2028-08-28  Standard Class
9           147039  2024-06-29  2029-12-25  Standard Class
...            ...         ...         ...             ...
10185       143336  2021-08-27  2027-02-22    Second Class
10188       167682  2023-04-03  2028-09-29  Standard Class
10190       147991  2023-05-05  2028-10-29  Standard Class
10191       152471  2023-07-08  2028-12-28        Same Day
10193       141481  2024-06-11  2029-12-05     First Class

[5086 rows x 4 columns]

In [47]:
orders_df_unique.to_csv("py_tables/orders_unique.csv", index=False)

#saving the ordersrs table