# Load and Inspect Data

In [1]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in ./micromamba/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in ./micromamba/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./micromamba/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./micromamba/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./micromamba/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./micromamba/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# use a direct download link for the Google Drive file and read into a dataframe
url = 'https://drive.google.com/uc?id=1L8AUVWoSToH5dPQeVKo-LaWTbiaAsjwa&export=download'
df = pd.read_csv(url)

In [39]:
# Show first rows of the existing DataFrame `df`
df.head(5)

,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Country/Region,City,State/Province,Postal_Code,Division,Region,Product_Name,Sales,Units,Gross_Profit,Cost,Factory,Latitude,Longitude,ship_delay_days
0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371,2005
1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036,2005
2,2021-09-15,2022-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036,179
3,2021-09-15,2022-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371,179
4,2022-10-04,2023-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371,176

In [4]:
# Quick look at Data columns and types
df.columns
df.dtypes.head()
df.head()

,Unnamed: 0,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product Name,Sales,Units,Gross Profit,Cost,Factory,Latitude,Longitude
0,0,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,Wicked Choccy's,32.076176,-81.088371
1,1,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20,Lot's O' Nuts,32.881893,-111.768036
2,2,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40,Lot's O' Nuts,32.881893,-111.768036
3,3,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42,Wicked Choccy's,32.076176,-81.088371
4,4,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,Wicked Choccy's,32.076176,-81.088371

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      10194 non-null  int64
 1   Order Date      10194 non-null  object
 2   Ship Date       10194 non-null  object
 3   Ship Mode       10194 non-null  object
 4   Customer ID     10194 non-null  int64
 5   Country/Region  10194 non-null  object
 6   City            10194 non-null  object
 7   State/Province  10194 non-null  object
 8   Postal Code     10194 non-null  object
 9   Division        10194 non-null  object
 10  Region          10194 non-null  object
 11  Product Name    10194 non-null  object
 12  Sales           10194 non-null  float64
 13  Units           10194 non-null  int64
 14  Gross Profit    10194 non-null  float64
 15  Cost            10194 non-null  float64
 16  Factory         10194 non-null  object
 17  Latitude        10194 non-null  float64
 18  Longitude       10194 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 1.5+ MB

# Data Cleaning and Filtering

# Clean and Inspect date columns (Order_Date , Ship_Date)

In [6]:
# normalize column names to snake_case (e.g. "Order Date" -> "Order_Date")
df = df.rename(columns=lambda s: s.strip().replace(' ', '_'))

# convert columns to datetime (use .get for safety)
df["Order_Date"] = pd.to_datetime(df.get("Order_Date"), errors="coerce")
df["Ship_Date"] = pd.to_datetime(df.get("Ship_Date"), errors="coerce")

# Optionally drop rows where order date is missing
df = df.dropna(subset=["Order_Date"])
df[["Order_Date", "Ship_Date"]].head()

  Order_Date  Ship_Date
0 2021-03-31 2026-09-26
1 2021-03-31 2026-09-26
2 2021-09-15 2027-03-13
3 2021-09-15 2027-03-13
4 2022-10-04 2028-03-29

In [7]:
# already converted to datetime
df["Order_Date"] = pd.to_datetime(df["Order_Date"], errors="coerce")
df["Ship_Date"] = pd.to_datetime(df["Ship_Date"], errors="coerce")

# compute shipping delay in days
df["ship_delay_days"] = (df["Ship_Date"] - df["Order_Date"]).dt.days

# inspect extreme delays
df[df["ship_delay_days"] > 60][["Order_Date", "Ship_Date", "ship_delay_days"]].head()

  Order_Date  Ship_Date  ship_delay_days
0 2021-03-31 2026-09-26             2005
1 2021-03-31 2026-09-26             2005
2 2021-09-15 2027-03-13             2005
3 2021-09-15 2027-03-13             2005
4 2022-10-04 2028-03-29             2003

In [37]:
from pandas.tseries.offsets import DateOffset

# --- 1. Identify Column Names ---
if "Order_Date" in df.columns:
	od_col = "Order_Date"
elif "Order Date" in df.columns:
	od_col = "Order Date"
else:
	raise KeyError("Order date column not found in dataframe")

# Set the Ship Date column name (assuming 'Ship_Date' is the normalized one)
if "Ship_Date" in df.columns:
	sd_col = "Ship_Date"
elif "Ship Date" in df.columns:
	sd_col = "Ship Date"
else:
    # If this column is missing, the following steps will fail, 
    # but based on your description, it is present, just with wrong years.
	sd_col = "Ship_Date" 

# --- 2. Ensure Both Columns are Datetime Objects ---
df[od_col] = pd.to_datetime(df[od_col], errors="coerce")
# The original Ship_Date data is still present and converted here!
df[sd_col] = pd.to_datetime(df[sd_col], errors="coerce") 

# --- 3. APPLY THE 5-YEAR CORRECTION (The crucial step) ---
# Check where the Ship_Date year is systematically wrong (e.g., 2027)
mask_erroneous_year = df[sd_col].dt.year >= 2027 # Check for 2027 or later

# Subtract 5 years ONLY from the rows where the year is wrong
df.loc[mask_erroneous_year, sd_col] = \
    df.loc[mask_erroneous_year, sd_col] - DateOffset(years=5)

# --- 4. Compute Delay and Show Summary ---
df["ship_delay_days"] = (df[sd_col] - df[od_col]).dt.days
print(df["ship_delay_days"].describe())

count    10194.000000
mean       305.072101
std        465.226740
min        173.000000
25%        177.000000
50%        178.000000
75%        179.000000
max       2007.000000
Name: ship_delay_days, dtype: float64

# Check for Missing Values across all Columns

In [9]:
# Check for missing values across all columns
print(df.isnull().sum())

Unnamed:_0         0
Order_Date         0
Ship_Date          0
Ship_Mode          0
Customer_ID        0
Country/Region     0
City               0
State/Province     0
Postal_Code        0
Division           0
Region             0
Product_Name       0
Sales              0
Units              0
Gross_Profit       0
Cost               0
Factory            0
Latitude           0
Longitude          0
ship_delay_days    0
dtype: int64

# Check for Duplicates

In [10]:
# Check for any exact duplicate rows
duplicate_rows = df.duplicated().sum()

print(f"Total number of exact duplicate rows: {duplicate_rows}")

if duplicate_rows > 0:
    print("\nDisplaying the first 5 duplicated rows (keeping the first occurrence):")
    # Display the rows that are duplicates (where df.duplicated() is True)
    print(df[df.duplicated()].head())

Total number of exact duplicate rows: 0

# Check for Unique Values

In [11]:
# Check unique values for key categorical columns

print("--- Ship_Mode unique values ---")
print(df['Ship_Mode'].value_counts())

print("\n--- Division unique values ---")
print(df['Division'].value_counts())

print("\n--- Region unique values ---")
print(df['Region'].value_counts())

print("\n--- Factory unique values ---")
print(df['Factory'].value_counts())

--- Ship_Mode unique values ---
Ship_Mode
Standard Class    6120
Second Class      1979
First Class       1548
Same Day           547
Name: count, dtype: int64

--- Division unique values ---
Division
Chocolate    9844
Other         310
Sugar          40
Name: count, dtype: int64

--- Region unique values ---
Region
Pacific     3253
Atlantic    2986
Interior    2335
Gulf        1620
Name: count, dtype: int64

--- Factory unique values ---
Factory
Lot's O' Nuts        5692
Wicked Choccy's      4152
Secret Factory        217
The Other Factory     100
Sugar Shack            33
Name: count, dtype: int64

In [12]:
# Shipping delay by ship mode
df.groupby("Ship_Mode")["ship_delay_days"].mean().sort_values()

# Orders by factory and region
pd.crosstab(df["Factory"], df["Region"])

# Division share
(df["Division"].value_counts(normalize=True) * 100).round(1)

Division
Chocolate    96.6
Other         3.0
Sugar         0.4
Name: proportion, dtype: float64

# Checking Geographical Consistency

In [13]:
# Check unique values for remaining categorical columns

print("--- Country/Region unique values ---")
print(df['Country/Region'].value_counts())

print("\n--- State/Province unique values (Top 10) ---")
# Only show the top 10 as there might be many states/provinces
print(df['State/Province'].value_counts().head(10))

--- Country/Region unique values ---
Country/Region
United States    9994
Canada            200
Name: count, dtype: int64

--- State/Province unique values (Top 10) ---
State/Province
California        2001
New York          1128
Texas              985
Pennsylvania       587
Washington         506
Illinois           492
Ohio               469
Florida            383
Michigan           255
North Carolina     249
Name: count, dtype: int64

# The Column Unnamed

In [14]:
# Final Step: Drop the redundant index column
if 'Unnamed:_0' in df.columns:
    df = df.drop(columns=['Unnamed:_0'])
    print("Dropped 'Unnamed:_0' column.")

# Quick check of the final data types
print("\nFinal Data Types Check:")
print(df.dtypes)

Dropped 'Unnamed:_0' column.

Final Data Types Check:
Order_Date         datetime64[ns]
Ship_Date          datetime64[ns]
Ship_Mode                  object
Customer_ID                 int64
Country/Region             object
City                       object
State/Province             object
Postal_Code                object
Division                   object
Region                     object
Product_Name               object
Sales                     float64
Units                       int64
Gross_Profit              float64
Cost                      float64
Factory                    object
Latitude                  float64
Longitude                 float64
ship_delay_days             int64
dtype: object

# Prepare and Create factory.csv file

In [15]:
import numpy as np

# Assuming 'df' is your clean DataFrame

# Columns that define the unique geographic entity
geo_cols = [
    'Country/Region', 'City', 'State/Province', 'Postal_Code',
    'Region', 'Factory', 'Latitude', 'Longitude'
]

# 1. Create the Dimension table by taking only unique combinations
geography = df[geo_cols].drop_duplicates().reset_index(drop=True)

# 2. Add the Surrogate Key (Primary Key)
# This key will link the Fact table to this Dimension table.
geography.index.name = 'Geo_Key'
geography = geography.reset_index()
geography['Geo_Key'] = geography['Geo_Key'] + 1 

# 3. Export to CSV
# use the actual dataframe variable 'geography' (was incorrectly referenced as dim_geography)
geography.to_csv('Geography.csv', index=False)

print("--- Geography Created ---")
print(f"File: Geography.csv | Rows: {len(geography)}")
print(geography.head())

--- Geography Created ---
File: Geography.csv | Rows: 1386
   Geo_Key Country/Region           City State/Province Postal_Code    Region  \
0        1  United States  San Francisco     California       94122   Pacific
1        2  United States  San Francisco     California       94122   Pacific
2        3  United States  New York City       New York       10011  Atlantic
3        4  United States  New York City       New York       10011  Atlantic
4        5  United States  San Francisco     California       94109   Pacific

           Factory   Latitude   Longitude
0  Wicked Choccy's  32.076176  -81.088371
1    Lot's O' Nuts  32.881893 -111.768036
2    Lot's O' Nuts  32.881893 -111.768036
3  Wicked Choccy's  32.076176  -81.088371
4  Wicked Choccy's  32.076176  -81.088371

# Orders.csv file

In [16]:
# Assuming 'df' is your clean DataFrame
# and 'dim_geography' was created in the previous step

# Define the columns that were used to find the unique geography (use existing geo_cols if available)
cols = [
    'Country/Region', 'City', 'State/Province', 'Postal_Code',
    'Region', 'Factory', 'Latitude', 'Longitude'
]

# --- Safe merge: only use the geography columns that exist in both dataframes ---
merge_cols = [c for c in geo_cols if c in df.columns and c in geography.columns]
if not merge_cols:
    raise KeyError("No common geography columns found between df and geography")

# 1. Merge the new Geo_Key back into the main DataFrame
# This adds the Geo_Key (Foreign Key) to every order row.
fact_orders = pd.merge(
    df,
    geography[['Geo_Key'] + merge_cols],  # Merge on Geo_Key and the lookup columns
    on=merge_cols,
    how='left'
)

# 2. Select only the necessary Fact table columns (metrics + keys)
# include Geo_Key and common metrics/attributes you expect
fact_cols = [
    'Customer_ID',
    
    'Order_Date',
    'Ship_Date',
    'Ship_Mode',
    

]

# Keep only the columns that actually exist to avoid KeyError
fact_cols_existing = [c for c in fact_cols if c in fact_orders.columns]
orders = fact_orders[fact_cols_existing].copy()

# Optional: rename columns to match downstream expectations (safe rename)
rename_map_local = {
    'Order_Date': 'Order_date',
    'Ship_Date': 'Ship_date',
    'Ship_Mode': 'Ship_mode',
    'Gross_Profit': 'Profit'  # if you want Gross_Profit renamed to Profit downstream
}

# only keep mappings for columns that exist in orders
rename_map_local = {k: v for k, v in rename_map_local.items() if k in orders.columns}
orders = orders.rename(columns=rename_map_local)

# 3. Export to CSV
orders.to_csv('Orders.csv', index=False)

print("--- Orders Created ---")
print(f"File: Orders.csv | Rows: {len(orders)}")
print(orders.head())

--- Orders Created ---
File: Orders.csv | Rows: 10194
   Customer_ID Order_date  Ship_date       Ship_mode
0       128055 2021-03-31 2026-09-26  Standard Class
1       128055 2021-03-31 2026-09-26  Standard Class
2       138100 2021-09-15 2022-03-13  Standard Class
3       138100 2021-09-15 2022-03-13  Standard Class
4       121391 2022-10-04 2023-03-29     First Class

# Product.csv and ShipMode.csv

In [24]:
print("orders columns:", orders.columns.tolist())
print("fact_orders columns:", fact_orders.columns.tolist())

orders columns: ['Customer_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode']
fact_orders columns: ['Order_Date', 'Ship_Date', 'Ship_Mode', 'Customer_ID', 'Country/Region', 'City', 'State/Province', 'Postal_Code', 'Division', 'Region', 'Product_Name', 'Sales', 'Units', 'Gross_Profit', 'Cost', 'Factory', 'Latitude', 'Longitude', 'ship_delay_days', 'Geo_Key', 'Product_ID_x', 'Ship_Mode_ID_x', 'Product_ID_y', 'Ship_Mode_ID_y', 'Ship_Mode_ID', 'Product_ID']

In [26]:
# 1. Standardise column names
orders = orders.rename(columns={
    'Order_date': 'Order_Date',
    'Ship_date':  'Ship_Date',
    'Ship_mode':  'Ship_Mode'
})

# fact_orders already has the right names, but do it defensively
fact_orders = fact_orders.rename(columns={
    'Order_date': 'Order_Date',
    'Ship_date':  'Ship_Date',
    'Ship_mode':  'Ship_Mode'
})

# 2. Build ShipMode dimension safely to avoid merge-suffix collisions
ship_mode_cols = ['Ship_Mode']

# If a Ship_Mode ID mapping already exists in fact_orders (possibly from earlier merges),
# reuse it instead of creating & merging again (which causes duplicate column name errors).
existing_id_col = None
if 'Ship_Mode_ID' in fact_orders.columns:
    existing_id_col = 'Ship_Mode_ID'
else:
    # look for any variant created by earlier merges (e.g. Ship_Mode_ID_x or Ship_Mode_ID_y)
    candidates = [c for c in fact_orders.columns if c.startswith('Ship_Mode_ID')]
    if candidates:
        existing_id_col = candidates[0]

if existing_id_col:
    # Reconstruct a clean Ship Mode dimension from existing mapping
    ship_mode = (
        fact_orders[[ 'Ship_Mode', existing_id_col ]]
        .drop_duplicates()
        .rename(columns={existing_id_col: 'Ship_Mode_ID'})
        .reset_index(drop=True)
    )
else:
    # Create new Ship Mode dimension and merge once
    ship_mode = fact_orders[ship_mode_cols].drop_duplicates().reset_index(drop=True)
    ship_mode.index.name = 'Ship_Mode_ID'
    ship_mode = ship_mode.reset_index()
    ship_mode['Ship_Mode_ID'] = ship_mode['Ship_Mode_ID'] + 1

    # Merge only when we created new IDs (avoids creating duplicate suffixed columns)
    fact_orders = pd.merge(fact_orders, ship_mode, on=ship_mode_cols, how='left')

# Ensure consistent ordering: Ship_Mode_ID then Ship_Mode
if 'Ship_Mode_ID' in ship_mode.columns:
    cols_order = ['Ship_Mode_ID'] + [c for c in ship_mode_cols if c in ship_mode.columns]
    ship_mode = ship_mode[cols_order]

ship_mode.to_csv('Dim_ShipMode.csv', index=False)

In [28]:
# Assuming 'fact_orders' is the DataFrame from the previous step (with Geo_Key)

# --- A. Product ---
product_cols = ['Product_Name', 'Division']

# 1. Find a dataframe that contains the product columns (prefer fact_orders, then orders, then df)
product_source = None
for name in ("fact_orders", "orders", "df"):
	if name in globals():
		cand = globals()[name]
		if all(c in cand.columns for c in product_cols):
			product_source = cand
			product_source_name = name
			break

if product_source is None:
	raise KeyError("None of the dataframes (fact_orders, orders, df) contain the required product columns: "
				   f"{product_cols!r}")

# 2. Create the unique dimension table from the discovered source
product = product_source[product_cols].drop_duplicates().reset_index(drop=True)

# 3. Add the Surrogate Key (Product_ID)
product.index.name = 'Product_ID'
product = product.reset_index()
product['Product_ID'] = product['Product_ID'] + 1 

# 4. Merge back the Product_ID (Foreign Key) to the main table
# Prefer merging into existing fact_orders; if not present, merge into orders and assign to fact_orders
merge_target = globals().get('fact_orders', globals().get('orders'))

# operate on a local reference to avoid accidental overwrites
fact_orders_ref = merge_target

# If Product_ID already exists in the target, avoid re-merging to prevent suffix/duplicate errors.
if 'Product_ID' in fact_orders_ref.columns:
	# Reconstruct a consistent Product dimension from the existing mapping
	product = fact_orders_ref[product_cols + ['Product_ID']].drop_duplicates().reset_index(drop=True)
	# keep the existing main table as fact_orders for downstream steps
	fact_orders = fact_orders_ref
else:
	# Safe merge when Product_ID does not already exist in fact_orders
	fact_orders = pd.merge(fact_orders_ref, product, on=product_cols, how='left')

product.to_csv('Product.csv', index=False)


# --- B. Dim_ShipMode ---
# Safely detect the correct Ship Mode column name (some earlier cells renamed it to 'Ship_mode')
if 'Ship_Mode' in orders.columns:
	sm_col = 'Ship_Mode'
elif 'Ship_mode' in orders.columns:
	sm_col = 'Ship_mode'
else:
	raise KeyError("Ship mode column not found in 'orders' dataframe (expected 'Ship_Mode' or 'Ship_mode')")

ship_mode_cols = [sm_col]

# 1. Create the unique dimension table from orders
ship_mode = orders[ship_mode_cols].drop_duplicates().reset_index(drop=True)

# 2. Add the Surrogate Key (Ship_Mode_ID)
ship_mode.index.name = 'Ship_Mode_ID'
ship_mode = ship_mode.reset_index()
ship_mode['Ship_Mode_ID'] = ship_mode['Ship_Mode_ID'] + 1 

# 3. Merge back the Ship_Mode_ID (Foreign Key) to the main table
# Avoid re-merging if fact_orders already contains a Ship_Mode_ID column to prevent merge suffix collisions.
if 'Ship_Mode_ID' in fact_orders.columns:
	# Reconstruct a consistent ShipMode dimension from the existing mapping in fact_orders
	# This avoids merge conflicts while still exporting a correct Dim_ShipMode.csv
	ship_mode = fact_orders[['Ship_Mode', 'Ship_Mode_ID']].drop_duplicates().reset_index(drop=True)
else:
	# Safe merge when Ship_Mode_ID does not already exist in fact_orders
	fact_orders = pd.merge(fact_orders, ship_mode, on=ship_mode_cols, how='left')

# Ensure column order is consistent: Ship_Mode_ID then Ship_Mode
if 'Ship_Mode_ID' in ship_mode.columns:
	cols_order = ['Ship_Mode_ID', sm_col] if sm_col in ship_mode.columns else ['Ship_Mode_ID']
	ship_mode = ship_mode[cols_order]

ship_mode.to_csv('Dim_ShipMode.csv', index=False)


print("--- Product and ShipMode Created ---")
print(f"Product Rows: {len(product)}")
print(f"ShipMode Rows: {len(ship_mode)}")
print("\nFirst 5 rows of Product:")
print(product.head())

--- Product and ShipMode Created ---
Product Rows: 15
ShipMode Rows: 4

First 5 rows of Product:
                        Product_Name   Division  Product_ID
0  Wonka Bar - Triple Dazzle Caramel  Chocolate           1
1     Wonka Bar -Scrumdiddlyumptious  Chocolate           2
2          Wonka Bar - Fudge Mallows  Chocolate           3
3         Wonka Bar - Milk Chocolate  Chocolate           4
4  Wonka Bar - Nutty Crunch Surprise  Chocolate           5

# Sales.csv

In [29]:
# Create Sales_Item (bridge) from the available merged dataframe
# Prefer 'orders' if present (it already contains keys), otherwise use 'orders'
src = orders if 'orders' in globals() else orders

# Ensure Order_ID exists
if 'Order_ID' not in src.columns:
    src = src.reset_index(drop=True).copy()
    src['Order_ID'] = src.index + 1

# Ensure Product_ID exists (try to merge from 'product' dim if possible)
if 'Product_ID' not in src.columns:
    if 'Product_ID_x' in src.columns:
        src['Product_ID'] = src['Product_ID_x']
    elif 'Product_ID_y' in src.columns:
        src['Product_ID'] = src['Product_ID_y']
    else:
        if 'Product_Name' in src.columns and 'product' in globals():
            src = src.merge(product[['Product_ID', 'Product_Name']], on='Product_Name', how='left')
        # If still missing, create synthetic Product_ID per unique product name (stable)
        if 'Product_ID' not in src.columns and 'Product_Name' in src.columns:
            src['Product_ID'] = src['Product_Name'].factorize()[0] + 1

# Determine which profit column exists
profit_col = None
if 'Gross_Profit' in src.columns:
    profit_col = 'Gross_Profit'
elif 'Profit' in src.columns:
    profit_col = 'Profit'

# Build the list of columns to export (only include those that exist)
sales_cols = ['Order_ID', 'Product_ID', 'Sales', 'Units', 'Cost']
if profit_col:
    sales_cols.insert(4, profit_col)  # place profit column before Cost

cols_to_select = [c for c in sales_cols if c in src.columns]

# Select and build the fact table
sales_item = src[cols_to_select].copy()

# If profit column is named 'Profit' but we want 'Gross_Profit' in output, rename it
if profit_col == 'Profit':
    sales_item = sales_item.rename(columns={'Profit': 'Gross_Profit'})

# Add a Primary Key for the line item
sales_item.index.name = 'Order_Line_Key'
sales_item = sales_item.reset_index()
sales_item['Order_Line_Key'] = sales_item['Order_Line_Key'] + 1

# Export to CSV
sales_item.to_csv('Sales_Item.csv', index=False)

print("---Sales_Item (Bridge) Created ---")
print(f"Sales_Item Rows: {len(sales_item)}")
print("\nFirst 5 rows of Sales_Item:")
print(sales_item.head())

---Sales_Item (Bridge) Created ---
Sales_Item Rows: 10194

First 5 rows of Sales_Item:
   Order_Line_Key  Order_ID
0               1         1
1               2         2
2               3         3
3               4         4
4               5         5

# customer.csv

In [30]:
# Assuming 'df' is your clean DataFrame, we just need the unique Customer IDs
customer_cols = ['Customer_ID']

# 1. Create the unique dimension table
customer = df[customer_cols].drop_duplicates().reset_index(drop=True)

# 2. Export to CSV
customer.to_csv('Dim_Customer.csv', index=False)

print("--- Customer Created ---")
print(f"File: Customer.csv | Unique Customer Rows: {len(customer)}")
print(customer.head())

--- Customer Created ---
File: Customer.csv | Unique Customer Rows: 5044
   Customer_ID
0       128055
1       138100
2       121391
3       103982
4       147039